@model List<CheeseMVC.Models.Cheese>

<h1>Cheeses.</h1>

@*use @ to deliniate c#, all c# elements require it when using variables for example.*@
<table>
    <tr style="border-bottom: 1px solid black;">
        <td style="font-weight:bold; font-size: 16px; width: 100px;">Cheese</td>
        <td style="font-size: 16px; width: 200px;">Description @*<span style="font-style:italic; font-size: 16px;">(Optional)</span>*@</td>
        <td style="font-size: 16px; width: 80px;">Type</td>
        <td style="font-size: 16px;">Rating</td>
    </tr>

    @*use model instead of viewbag, Model replaces "Viewbag.[whatever]"*@
    @foreach (Cheese aCheese in Model)
    {
        <tr>
            <td style="font-weight: bold;">@aCheese.Name</td>
            <td>@aCheese.Description</td>
            <td>@aCheese.Type</td>
            <td>@aCheese.Rating</td>
            <td style="padding-left: 10px;"><a asp-controller="Cheese" asp-action="Edit" asp-route-cheeseId="@aCheese.CheeseId">Edit</a></td>
        </tr>
    }

    @if (Model.Count == 0)
    {
        <tr>
            <td colspan="2"><br /><h4>No cheeses yet.</h4></td>
        </tr>
    }
    <tr>
        <td colspan="2"><br /><a asp-controller="Cheese" asp-action="Add">Add a cheese.</a></td>
    </tr>
    <tr>
        <td colspan="2"><a asp-controller="Cheese" asp-action="Delete">Remove a cheese.</a></td>
    </tr>
</table>